<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swipet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FF10E3A1CA4AB5B00DC8BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF10E511CA4AB5B00DC8BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF10E5C1CA4AB5B00DC8BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
